.productThumb{
  width: 100%;
  height: auto;
  border: 1px solid rgba(0,0,0,0.1);
  overflow: hidden;
  border-radius: 20px;
  padding: 20px;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.productThumb .badge{
  position: absolute;
  top: 0px;
  left: 0px;
  display: inline-block;
  background:  #3bb77e;
  z-index: 10;
  color: #fff;
  padding: 10px 25px;
  font-size: 16px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
}
/* .productThumb .badge .hot{
  background: #f74b81 !important;
}
.productThumb .badge .sale{
  background: #67bcee !important;
}
.productThumb .badge .new{
  background: #3BB77e !important;
}
.productThumb .badge .best{
  background: #f59758 !important;
} */
.productThumb:hover{
 box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 36px 6px rgba(0,0,0,0.23);
}
.productThumb .imgWrapper{
width: 100%;
overflow: hidden;
position: relative;
}
.productThumb .imgWrapper img{
transition: all 0.3s ease-in-out;
}

.productThumb .imgWrapper  .overlay{
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
padding: 25px !important;
display: flex;
justify-content: center;
align-items: center;
opacity: 0;
transform: scale(0.8);
}
.productThumb:hover .imgWrapper  .overlay{
  opacity: 1;
  transform: scale(1);
  /* background-color: rgba(255,255,255,0.5); */
}
.productThumb .imgWrapper  .overlay ul{
 background: #fff;
 width: 140px;
 height: auto;
 border-radius: 10px;
 border: 1px solid #BCE3C9;
}
.productThumb .imgWrapper  .overlay ul li{
  margin-right: 0px !important;
}
.productThumb .imgWrapper  .overlay ul li a{
 display: block;
 padding: 10px;
 border-right:  1px solid #BCE3C9;
 color: #3bb77e;
}
.productThumb .imgWrapper  .overlay ul li a:hover{
  color: #000;
  opacity: 0.7;
}

.productThumb:hover  .imgWrapper img{
transform: scale(1.1);   /*it is use for for adding a zoom effect on product img */
}

.productThumb .catName{
 color: #000;
 opacity: 0.8;
 font-size: 14px;
}
.productThumb .title{
width: 10px 0px;
}
.productThumb .title a{
  color: #000;
  font-weight: 600;
  font-size: 22px;
  text-decoration: none;
  line-height: 25px;
}
.productThumb .info button{
background:  #ade4c9;
color: #229b62;
font-size: 20px !important;
padding: 5px 20px !important;
text-transform: capitalize;
}
.productThumb .info button:hover{
background: #3bb77e;
color: #fff;

}
.productThumb .brand{
color: rgba(0,0,0,0.6);
}
.productThumb .brand a{
text-decoration: none;
}
.productThumb .price{
font-size: 25px;
margin-right: 20px;
}
.productThumb .oldPrice{
font-size: 20px;
opacity: 0.6;
color: #000;
text-decoration: line-through;
}




















/* START TOOLTIP STYLES */
[tooltip] {
  position: relative; /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
  text-transform: none; /* opinion 2 */
  font-size: 16px; /* opinion 3 */
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  
}
[tooltip]::before {
  content: '';
  border: 5px solid transparent; /* opinion 4 */
  z-index: 1001; /* absurdity 1 */
}
[tooltip]::after {
  content: attr(tooltip); /* magic! */
  
  /* most of the rest of this is opinion */
  font-family: Helvetica, sans-serif;
  text-align: center;
  
  /* 
    Let the content set the size of the tooltips 
    but this will also keep them from being obnoxious
    */
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  border-radius: .3ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background:  #3bb77e;
  color: #fff;
  z-index: 1000; /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
  display: none !important;
}

/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
  border-top-color:  #3bb77e;
}
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
  bottom: calc(100% + 5px);
}
[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
  left: 50%;
  transform: translate(-50%, -.5em);
}

/* FLOW: DOWN */
/* [tooltip][flow^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #333;
}
[tooltip][flow^="down"]::after {
  top: calc(100% + 5px);
}
[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
  left: 50%;
  transform: translate(-50%, .5em);
} */

/* FLOW: LEFT */
/* [tooltip][flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #333;
  left: calc(0em - 5px);
  transform: translate(-.5em, -50%);
}
[tooltip][flow^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-.5em, -50%);
} */

/* FLOW: RIGHT */
/* [tooltip][flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #333;
  right: calc(0em - 5px);
  transform: translate(.5em, -50%);
}
[tooltip][flow^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(.5em, -50%);
} */

/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */ 
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}

/* UNRELATED to tooltips */

/* main {
  flex: 1 1 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
aside {
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background:  #3bb77e;
  color: #fff;
  padding: 1em;
}
main div {
  text-align: center;
  color:  #3bb77e;
}
main span {
  padding: .5em 1em;
  margin: .5em;
  display: inline-block;
  background:  #3bb77e;
}

aside a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  padding: .4em 1em;
} */
