@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css');


.homeSlider{
    padding: 30px 0px;
}
  
.home_Slider_main{
    border-radius: 25px;
    overflow: hidden;
    position: relative;
}
  /* special css for foer arrow */
  .homeSlider .home_Slider_main .slick-prev, 
 .homeSlider .home_Slider_main .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: #3bb77e;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.homeSlider .home_Slider_main .slick-prev {
    left: 10px;
}
.homeSlider .home_Slider_main .slick-next {
    right: 10px;
    
}  

/* .homeSlider .home_Slider_main .slick-arrow{
    position: absolute;
    top: 47%;
    width: 30px !important;
    height: 30px !important;
    border-radius: 50% !important;
    background:  #3bb77e !important;
    z-index: 100 !important;
   
}
.homeSlider .home_Slider_main .slick-arrow:hover{
    background: #3bb77e;
}
.homeSlider .home_Slider_main .slick-arrow.slick-next{
    right: 2% !important;
}
.homeSlider .home_Slider_main .slick-arrow.slick-prev{
    left: 2% !important;
}
.homeSlider .home_Slider_main .slick-prev:before{
    content: "\f104" !important;
    font-weight: FontAwesome !important;
    font-size: 30px;
}
.homeSlider .home_Slider_main .slick-next:before{
    content: "\f105" !important;
    font-weight: FontAwesome !important;
    font-size: 30px;
} */ 
/* some part remains */

/* css for dots that bottom slide img */
.home_Slider_main .slick-dots{
    position: absolute;
    bottom: 30px !important;
}
.home_Slider_main .slick-dots button::before{
    width: 10px !important;
    height: 10px !important;
    font-size: 16px !important;
}
.slick-active button::before {
   color:#3bb77e !important;
}
.home_Slider_main .item{
    position: relative;
}
.home_Slider_main .item .info{
    position: absolute;
    top: 18%;
    left: 7%;
    z-index: 100;
}
.home_Slider_main .item .info h2{
    font-size: 75px !important;
    font-weight: bolder;
    color: #253D4E;
}
.home_Slider_main .item .info p{
    font-size: 35px;
    font-weight: lighter;
    color: #7E7E7E;
  
}

 