.cartSection{
    width: 100%;
    height: auto;
    padding: 35px 0px;
}
.cartSection .clearCart{
   font-weight: 600;
   font-size: 18px;
}
.cartSection .clearCart svg{
    font-size: 25px !important;
}
.cartWrapper table thead{
    background-color: #ececec;
    overflow: hidden;
    
}
.cartWrapper table thead th:first-child{
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
} 
.cartWrapper table thead th:last-child{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
} 
.cartWrapper  table  tbody  td{
    vertical-align: middle;
    font-weight: bold;
    font-size: 24px;
}
.cartWrapper  table  tbody  td span{
    font-weight: 600;
    font-size: 25px;
}
.cartWrapper  table  tbody  td .img{
    max-width: 120px;
    padding: 5px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 5px;
}
.cartWrapper  table  tbody  td .info a{
    text-decoration: none;
}
.cartWrapper  table  tbody  td .info a h4{
    font-size: 18px;
    font-weight: 550;
}





