.homeProducts{
 padding: 25px 0px;
}
.homeProducts h2{
    color: #253D4E;
}
.filterTab li{
    margin-left: 20px;
}
.filterTab li a{
   color: #253D4E;
   text-decoration: none;
   font-size: 20px;
   transition: all 0.3s ease-in-out;
   font-weight: 500;

}
.filterTab li:hover a{
    color: #3bb77e !important;
    transform: translate(-10px);
   
}
.homeProducts .productRow{
    display: flex;
    padding: 30px 0px;
    margin: 0px -15px;
    flex-wrap: wrap;
    
}
.homeProducts .productRow .item{
    width: 20%;
   padding: 15px 15px;
   
}
/* .homeProductsRow2 .prodSlider .slick-slide{
    padding-right: 15px !important;
} */
.homeProductsRow2 .prodSlider .item{
    padding: 15px 5px;
    padding-right: 25px !important;
}
.homeProductsRow2{

}
.homeProducts .homeProductsRow2 img{
   
}
/* slider add krna hai  #7 41:26 */
/* Specific styles for slick slider arrows */
/* .homeProducts  .homeProductsRow2 .prodSlider .slick-prev, 
.homeProducts .homeProductsRow2 .prodSlider .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: #3bb77e;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.homeProducts .homeProductsRow2 .prodSlider .slick-prev {
    left: 10px;
}
.homeProducts .homeProductsRow2 .prodSlider .slick-next {
    right: 10px;
    top: 60px;
} 

 Silder icons not added   they directly added when in main slider section we add sliding icons  
.homeProducts .productRow  .item:hover .info{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transform: scale(1.0);
} */

.topProductsSection{
    padding: 35px 0px;
}
.topProductsSection .box h3{
    font-size: 32px;
}