header{width: 100%; height: auto; margin: auto; padding: 30px 0px;}
header .headerSearch{width: 100%; height: 60px; border: 1px solid #bce3c9; padding: 10px 20px;}
header .headerSearch .selectDrop{width: 18%; font-size: 16px; font-weight: 500; position: relative;}
header .headerSearch .selectDrop:after{content: ''; width: 1px; height: 30px; background: rgba(0,0,0,0,2); 
    position: absolute; top: 0px; right: 0px;}
header .headerSearch .search{width: 82%; padding-left: 30px;}
header .headerSearch .search input{width: 100%; height: 40px; border: 0px; outline: none !important; font-size: 18px;}