header{
    width: 100%;
    height:auto;
    margin: auto;
    padding: 30px 0px;
}

header .headerSearch {
    width: 100%;
    height: 50px;
    border: 1px solid #bce3c9;
    padding: 10px 20px;
    cursor: pointer;
}

header .headerSearch .selectDrop {
    width: 30%;
     font-size: 16px;
   font-weight: 500;
    position: relative;
}

header .headerSearch .selectDrop::after{
    content: '';
    width: 1px;
    height: 30px;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0px;
    right: 0px;

}
header .headerSearch .search {
    width: 82%;
    padding-left: 30px;
    position: relative;
}

header .headerSearch .search input {
    width: 100%;
   height: 20px;
   border: 0px;
   outline: none !important;
   font-size: 15px;
}
header .headerSearch .search .searchIcon{
    position: absolute;
    top: 4px;
    right: 7px;
    opacity: 0.6;
    font-size: 25px !important;
}