.footerWrapper{
    padding: 45px 0px;
    padding-bottom: 0px;
    width: 100%;
}
.footerWrapper .footerBoxes .box{
    background: #F4F6FA;
    padding: 15px 25px;
    border-radius: 15px;
}
.footerWrapper .footerBoxes .box .info{
    padding-left: 25px;
}
.footerWrapper .footerBoxes .box  img{
    position: relative;
    transition: all 0.3s ease-in-out;
}
.footerWrapper .footerBoxes .box:hover img{
  transform: translateY(-5px);
}
.footerWrapper .footerBoxes .box .info h4{
    color: #242424;
     font-size: 25px; 
     font-weight: 400; 
}
.footerWrapper .footerBoxes .box .info p{
    color: #949393;
    margin-bottom: 0px; 
     font-size: 20px; 
}

footer{
     padding: 60px opx; 
}
.footerWrapper .container-fluid .row .imgLogo{
    height: 80px;
    width: 180px;
}
.footerWrapper .container-fluid .row .svg-icon{
    color:  #3bb77e !important;
}

footer p, footer a{
    font-size: 20px;
    color: #253D4E;
} 
footer  h3{
    color: #253D4E;
    font-weight: bold;
    margin-bottom: 20px;
}
footer .part2 ul li{
    list-style: none;
    margin-bottom: 12px;
}
footer .part2 ul li a{
    color: #253D4E;
    font-size: 500;
    transition: all 0.2s ease-in-out;
}
footer .part2 ul li a:hover{
    color: #3bb77e !important;
    text-decoration: none;
    padding-left: 5px;
}

footer .lastStrip{
    padding: 15px 0px;
}
footer .phNo svg{
    font-size: 40px !important;
    height: 40px;
    width: 40px;
    opacity: 0.8;  
}
footer .phNo h5{
  font-size: 35px !important;  
  font-weight: 550; 
}
footer .phNo p{
    opacity: 0.5;
    color: black;
    font-size: 15px;
    font-weight: 500;
    font-family: "Lato", sans-serif;
    display: block;
    letter-spacing: 0.9px;
    margin-left: 8px;
}
footer .lastStrip .part3 {
    padding: 10px;
}
footer .lastStrip .part3 h5{
    margin-bottom: 0px;
    color: #253D4E;
    font-size: 20px;
    padding: 10px;
}
footer .lastStrip .part3 ul{
    margin-bottom: 0px;
   
}
footer .lastStrip .part3 ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #3bb77e;
    border-radius: 50%;
    margin-right: 5px;
    color: #fff;
 
}
/* Animation for the app store and google play images */
footer .part3 .d-flex img {
    transition: transform 0.3s ease;
  }
  
  footer .part3 .d-flex img:hover {
    transform: scale(1.1);
  }
  .newsLetterSection{
    width: 100%;
    height: auto;
}
.newsLetterSection .box{
   background: url(	https://nest-frontend-v6.netlify.app/assets/imgs/banner/banner-10.png);
   width: 100%;
   height: auto;
   padding: 60px 80px;
   border-radius: 20px;
   overflow: hidden;
}
.newsLetterSection .box .info{
    width: 55%;
}
.newsLetterSection .box .info h2{
    font-size: 40px !important;
    font-weight: bold;
    color: #253D4E;
}
.newsLetterSection .box .info p{
    font-size: 20px;
    font-weight: lighter;
    color: #7E7E7E;
}
.newsLetterSection .box .info p span{
    color: #3bb77e;
}
.newsLetterSection .box .img{
    width: 45%;
 
}
.newsLetterSection .box .img img{
   position: relative;
   top: 60px;
}

.newsLetterSection .box .newsLetterBanner{
    position: relative !important;
    left: 1px !important;
    bottom: inherit !important;
}


  