@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css');


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Robot", sans-serif;
  font-size: 16px;
}
#root {
  zoom: 90%;
}
.container-fluid {
  padding: 0px 45px;
}
.transition {
  transition: all 0.3s ease-in-out;
}
.cursor {
  cursor: pointer;
}
.btn-g{
  background: #3bb77e !important;
  color: #fff !important;
  padding: 10px 25px !important;
  border-radius: 5px !important;
  text-transform: capitalize !important;
}
.btn-g:hover{
  background: #FDC040 !important;
  color: #fff !important;
}
.btn-lg{
  font-size: 22px !important;
}
.bg-g, .bg-success {
  background: #3bb77e !important;
}

.btn-border{
  border: 1px solid rgba(0,0,0,0.1) !important;
  color: #7E7E7E !important;
}
.btn-border:hover{
  border: 1px solid #3bb77e !important;
  background: #3bb77e !important;
  color: #fff !important;
}
/* colors */
.text-g {
  color: #3bb77e;
}
.text-org{
  color: #FDC040 !important;
}
.text-light{
  color: #B6B6B6 !important;
}
.text-gray{
  color: #7E7E7E !important;
}
.text-blue{
  color: #253D4E !important;
}
.text-blue-text{
  color: #253D4E !important;
}
.text-blue-text:hover{
  color: #FDC040 !important;
}
/* colors end */

/*  */
/* .slick-prev, 
 .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: #3bb77e;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
 .slick-prev {
    left: 10px;
}
 .slick-next {
    right: 10px;
    
}  */
/*  */
.hd {
  font-size: 38px;
  font-weight: 600;
  margin-bottom: 25px;
}

.price {
  font-size: 25px;
  margin-right: 20px;
}
.oldPrice {
  font-size: 20px;
  opacity: 0.6;
  color: #000;
  text-decoration: line-through;
}
.listingPage{
   width: 100%;
   height: auto;
   padding: 45px 0px; 
}
.breadcrumb{
    width: 100%;
    height: auto;
    border-radius: 19px;
    padding: 45px 45px;
    /* padding: 70px 80px;
    background-size: cover; */
    background: #d8f1e5;
    margin-bottom: 30px;
    /* background: url(	https://nest-frontend-v6.netlify.app/assets/imgs/banner/banner-10.png); */
}
.breadcrumb h1{
  color: #253D4E;
  font-size: 50px;
  font-weight: bold;
}
.breadcrumb ul li{
  margin-right: 15px !important;
}
.breadcrumb ul li a{
  color: #7E7E7E;
 text-decoration: none;
 font-size: 20px; 
}
.breadcrumb ul li a:hover{
  color: #3bb77e;
}

.detailsContainer{
  max-width: 90%;
}
.sidebarWrapper{
  max-width: 20%;
  flex: 0 0 20%;
}
.rightContent{
  max-width: 80%;
  flex: 0 0 80%;
}
.sidebarWrapper h3{
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 30px;
  color: #253D4E;
}
.sidebarWrapper h3::after{
  content: '';
  width: 100%;
  height: 3px;
  background: #f0f0f0;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.sidebarWrapper h3::before{
  content: '';
  width: 20%;
  height: 3px;
  background: #b0e5c2;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 10;
}
.sidebarWrapper .sidebar{
  position: sticky;
  top: 110px;
}
.sidebarWrapper .sidebar .card{
  padding: 25px;
 border-radius: 10px !important;
 margin-bottom: 40px;
}
.sidebarWrapper .sidebar .card .catList .catItem{
  padding: 10px;
  border: 1px solid rgba(0,0,0,0.050);
  cursor: pointer;
  margin: 10px 0px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}
.sidebarWrapper .sidebar .card .catList .catItem:hover{
   border: 1px solid rgba(0,0,0,0.2);
}
.sidebarWrapper .sidebar .card .catList .catItem h4{
  color: #253D4E;
  font-size: 16px;
}
.sidebarWrapper .sidebar .card .catList .catItem h4:hover{
  color: #3bb77e;
}
.sidebarWrapper .sidebar .card .catList .catItem .rounded-circle{
  background: #BCE3C9;
  width: 35px;
  height: 35px;
}
.priceRange span{
  font-size: 18px;
  color: #687188;
}
.filters{
  padding: 25px 0px;
}
.filters h5{
  font-weight: 600;
  margin-bottom: 10px;
}
.filters ul{
  max-height: 200px;
  overflow-y: scroll;
  margin-left: -10px;
}
.filters ul::-webkit-scrollbar{
  width: 10px !important;
}
.filters ul::-webkit-scrollbar-thumb{
  background: #ccc !important;
}
.filters ul li{
  width: 100%;
  margin-bottom: 0px;
  list-style: none;
  color: #687188;
}
.sidebarWrapper .sidebar .btn{
  width: 150px !important;
}

.rightContent .topStrip{
  padding: 0px 25px;
}
.rightContent .topStrip p{
  font-size: 18px;
  color: #687188 !important;
}
.rightContent .topStrip .tab_{
  width: 200px;
}
.rightContent .topStrip .tab_ .btn_{
  background: none !important;
  border: 1px solid rgba(0,0,0,0.1) !important;
  padding: 10px 8px !important;
  text-transform: capitalize !important;
  color: #687188 !important;
  border-radius: 10px !important;
  font-size: 14px !important;
  width: 200px;
  height: 60px;
}
.rightContent .topStrip .tab_ .dropdownMenu{
  top: 100% !important;
}
.rightContent .topStrip .tab_ .btn_  svg{
  height: 20px;
  width: 20px;
}
.rightContent .topStrip .tab_ .btn_ span{
   padding: 5px !important; 
}
.breadcrumbWrapper{
  width: 100%;
  height: auto;
  padding: 20px 0px;
  border-bottom: 1px solid rgba(0,0,0.0.1) !important;
}
.breadcrumb2{
  background: none !important;
  padding: 0px !important;
}
.breadcrumb2 li{
 
  font-size: 22px !important;
  color: #7E7E7E;
}
.breadcrumb2 li a{
  color: #3bb77e !important;
  text-decoration: none !important;
  padding: 0px 25px 0px 0px !important;
  display: block;
  position: relative;
}
.breadcrumb2 li a:hover{
  color: #FDC040 !important;
}

.detailsPage .productInfo p{
  color: #7E7E7E;
  margin-top: 0;
  margin-bottom: 0rem;
}
.detailsContainer{
  max-width: 85%;
  padding: 30px 0px;
  margin: auto;
}
.detailsPage .productInfo {
  padding-left: 50px;
}
.detailsPage .productInfo h1{
  font-size: 50px;
  font-weight: bold;
}
.detailsPage .productInfo .priceSec .priceLarge{
  font-size: 58px;
  font-weight: bold;
}
.detailsPage .productInfo .priceSec .text-org{
  font-size: 14px;
  font-weight: 600;
  margin-top: 3px;
 
}
.detailsPage .productInfo .priceSec .text-light{
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 2px;
  margin-top: 1px
}
.productZoom{
  width: 100%;
  height: auto;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 0px;
  overflow: hidden;
  border-radius: 15px;
}
.zoomSliderBig{
  width: 100% !important;
}
.zoomSlider .slick-prev, 
 .zoomSlider .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: #3bb77e;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.zoomSlider .slick-prev {
    left: -7% !important;
}
.zoomSlider .slick-next {
    right:  -3% !important;  
}  
.zoomSlider{
  padding-top: 30px;
}

.zoomSlider .slick-slide{
 padding-right: 15px !important;
 
}
.zoomSlider .item{
 border: 2px solid transparent !important;
 overflow: hidden;
 border-radius: 15px;
}
.zoomSlider .slick-current .item{
  border: 2px solid #3bb77e !important;
}
.zoomSlider .slick-arrow{
  top: 55% !important;
  zoom: 80% !important;
}
.zoomSlider .slick-arrow.slick-next{
  right: -5% !important;
}
.zoomSlider .slick-arrow.slick-prev{
  left: -5% !important;
}
/* .zoomSlider .item img{
  width: 100px !important;
  height: 70px !important;

} */





.productSize{
  width: 100%;
  height: auto;
  padding: 25px 0px;
}
.productSize ul li{
  margin-right: 10px !important;
}
.productSize ul li a{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 17px !important;
  border: 1px solid rgba(139, 132, 132, 0.1);
  border-radius: 5px !important;
  cursor: pointer;
  text-decoration: none !important;
  color: #000;
  font-size: 16px;
  transition: all 0.1s ease-in-out;
}
.productSize ul li a.active{
  color: #fff !important;
  background: #3bb77e !important;
}

input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
 }
 input[type=number]{
  -moz-appearance: textfield;
 }

.addCartSection{
  width: 100%;
  height: auto;
}
.addCartSection .counterSec{
  width: 90px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #3bb77e !important;
  overflow: hidden;
  padding: 10px;
}
.addCartSection .counterSec input{
  width: 80px;
  height: 40px;
  padding: 9px;
  border: 0px;
  outline: none;
  align-items: center;
  justify-content: center;
 
}
.addCartSection .counterSec{
  position: relative;
}
.addCartSection .counterSec .arrow{
  position: absolute;
  cursor: pointer;
}
.addCartSection .counterSec .arrow.plus{
  top: -2px;
  right: 10px;
}
.addCartSection .counterSec .arrow.minus{
  bottom: -2px;
  right: 10px;
}
.addToCartBtn svg{
  font-size: 28px !important;
  margin-right: 8px;
}
.addCartSection button{
  height: 50px;
}
.addCartSection button{
  height: 50px;
  min-width: inherit !important;
}
.addCartSection button svg{
  font-size: 28px !important;
}
.addCartSection button.move{
  position: relative;
} 
.addCartSection button:hover{
  transform: translateY(-5px);
}

.card{
  border-radius: 10px !important;
}

.detailsPageTabs{
  border-radius: 25px !;
}
.customTabs ul li{
  margin-right: 30px !important;
}
.customTabs ul li button:hover{
  color: #3bb77e;
}
.customTabs ul li button{
  padding: 10px 25px !important;
  border: 1px solid rgba(0,0,0,0.2) !important;
  font-size: 20px !important;
  text-transform: capitalize !important;
  border-radius: 30px !important;
  color: #7E7E7E;
}
.reviewsCard{
  margin-bottom: 25px !important;
}
.reviewsCard .image{
  width: 100px;
}
.reviewsCard .rounded-circle{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100px;
  height: 100px;
}

.reviewsCard .rounded-circle img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reviewForm .form-group{
  margin-bottom: 25px;
}
.reviewForm .form-group .form-control{
  height: 80px;
  font-size: 18px;
  border-radius: 7px !important;
}
.reviewForm .form-group .form-control-1{
  height: 160px;
  padding-bottom: 90px;
  border-radius: 7px !important;
}
.progress-bar{
  
}

.tabContent p{
  color: #7E7E7E;
}
.tabContent h2{
  color: #253D4E;
}

.relatedProducts .item{
  padding: 15px 5px;
  padding-right: 25px !important;
}
.relatedProducts  h2{
  color: #253D4E;
}


 